body {
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    margin-top: 0px;
    width: 70%;
    background-image: url('/Imagens/folhas.png');
    background-position: left top;
    background-size: 20% 100%;
    background-attachment: fixed;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url('/Imagens/paisagem.png');
    background-position: center center;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 50px;
    
}

nav{
    text-align: center;
    margin-top: 100px;
}

main {
    color: rgb(9, 22, 9);
    text-align: justify;
    font-size: 20px;
    margin: 0;
    padding: 20px;
    background: linear-gradient(to bottom, #4e944e, #b3ffa3);
}

figure {
    text-align: center;
    margin: 10px;
}

img {
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0px 0px 5px rgb(37, 48, 25);
}
video {
    border-radius: 10px;
    margin: 5px;
}

h1 {
    color: rgb(62, 112, 62);
    text-align: center;
    font-size: 70px;
}
h2 {
    color: rgb(15, 37, 15);
    text-align: center;
    padding: 10px;
    font-size: 35px;
}

h3 {
    color: rgb(15, 37, 15);
    text-align: center;
    padding: 5px;
    font-size: 24px;
}

fieldset{
    margin-top: 10px;
    padding: 10px;
}

ul,ol,li{
    font-size: 18px;
    padding-left: 30px;
    padding-bottom: 2px;
}

table{
    border-collapse: collapse;
    border: 2px solid rgb(38, 61, 48);
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    background-color: rgb(184, 233, 186);
    width: 80%;
    margin-bottom: 20px;
}
th{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(74, 129, 84);
}
th, td {
    border: 2px solid rgb(38, 61, 48);
    padding: 8px;
}

a {
    border-style: solid; border-width: 2px;
    border-radius: 15px;
    color: rgb(73, 102, 79);
    background-color: rgb(248, 248, 248);
    text-decoration: none;
    padding: 10px 70px;
    display: inline-block;
}

a:hover{
    color:rgb(31, 58, 25);
    background-color: #c7f1c7;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
}

footer p{
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: #4e944e98;
    border-radius: 8px;
    padding: 10px;
    margin: 0;
}

summary ~p{
    padding-left: 30px;
    font-style:italic;
}

::selection{
    color:#8df18d;
    background:#1a361aaf;
}

.video-container {
    text-align: center;
}
.audio-player {
    text-align: center;
    margin-top: 10px;
}