body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto;
    width: 70%;
    padding: 20px;
    background-image: url('/Imagens/paisagem.png'), url('/Imagens/folhas.png');
    background-position: top center,left top;
    background-repeat: no-repeat, repeat;
    background-size: 70% auto, auto 100%;
    
}

figure {
    text-align: center;
    margin: 20px;
}

img {
    border-radius: 15px;
    margin: 10px;
}
video {
    border-radius: 10px;
    margin: 5px;
}

h1 {
    color: rgb(62, 112, 62);
    text-align: center;
    margin-bottom: 50px;
    font-size: 70px;
}
h2 {
    color: rgb(15, 37, 15);
    text-align: center;
    padding: 5px;
    font-size: 35px;
}

h3 {
    color: rgb(15, 37, 15);
    text-align: center;
    padding: 5px;
    font-size: 24px;
}
p {
    color: rgb(9, 22, 9);
    text-align: left;
    padding: 5px;
    font-size: 20px;
    margin: 0;
}

ul,ol {
    font-size: 18px;
}

table{
    border-collapse: collapse;
    border: 2px solid rgb(38, 61, 48);
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    background-color: rgb(184, 233, 186);
    width: 80%;
    margin-bottom: 20px;
}
th{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(74, 129, 84);
}
th, td {
    border: 2px solid rgb(38, 61, 48);
    padding: 8px;
}


a {
    border-style: solid; border-width: 1px;
    border-radius: 15px;
    margin-bottom: 20px;
    color: rgb(73, 102, 79);
    background-color: rgb(248, 248, 248);
    text-decoration: none;
    padding: 10px 90px;
    display: inline-block;
}

.cabecalho {
    padding: 5px;
    border-radius: 8px;
    text-align: center;
}

.apresentacao {
    padding: 20px;
    background: linear-gradient(to bottom, #4e944e, #b3ffa3);

}

.video-container {
    text-align: center;
}
.audio-player {
    text-align: center;
    margin-top: 10px;
}